/* 6 farebna skala winrate podla serveru XVM z 22.04.2018 */

.bg-color-xvm-win-0 {
    background-color:black;
    color: white;
}

/* 0 - 46.38 */
.bg-color-xvm-win-46 {
    background-color: #FFB2B2;    
}

/* 46.39 - 49.15 */
.bg-color-xvm-win-49 {
    background-color: #FFE4B2;    
}

/* 49.16 - 52.5 */
.bg-color-xvm-win-53 { 
    background-color: #FFFFB2;    
}

/* 52.6 - 57.78 */
.bg-color-xvm-win-58 {
    background-color: #B2D9B2;    
}

/* 57.79 - 63.55 */
.bg-color-xvm-win-64 {
    background-color: #C5F6F1;    
}

/* 63.56 - */
.bg-color-xvm-win-100 {
    background-color: #F7D6F7;    
}

.bg-color-xvm-win-0, .bg-color-xvm-win-46, .bg-color-xvm-win-49, .bg-color-xvm-win-53, .bg-color-xvm-win-58, .bg-color-xvm-win-64, .bg-color-xvm-win-100 {
    font-size: 0.8rem;
} 