/* 6 farebna skala podla serveru XVM */

/* 0 - 452 */
.bg-color-xvm-wn-452 {
    background-color: #FFB2B2;
}

/* 453 - 983 */
.bg-color-xvm-wn-983 {
    background-color: #FFE4B2;
}

/* 984 - 1577 */
.bg-color-xvm-wn-1577 { 
    background-color: #FFFFB2;
}

/* 1578 - 2377 */
.bg-color-xvm-wn-2377 {
    background-color: #B2D9B2;
}

/* 2378 - 3199 */
.bg-color-xvm-wn-3199 {
    background-color: #C5F6F1;
}

/* 3200 - */
.bg-color-xvm-wn-3200 {
    background-color: #F7D6F7;
}